:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
}

.cointainer {
  margin: 0 auto;
  max-width: 1280px;
}


